# competition_data should stay local.
#
# This directory may contain official datasets, PDFs, structures, and generated
# files. Do not upload it to GitHub unless a file is explicitly cleared for
# redistribution.
*
!.gitignore
!README.md
!score/
!envs/
!examples/
!models/
!LICENSE